p.letters{
    color: rgb(0, 0, 255);
    margin: 4mm;
}

p.letters:hover{
    opacity: 0.2;
}


#spann, span{
    display: flex;
    position: fixed;
    /* top: 40%; */
    /* left: 20%;
    right: 20%; */
    bottom: 20%;
    max-width: 900px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}
